<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--注意namaspace要和接口全限定名完全一致-->
<mapper namespace="vip.zhangxiaoyi.dao.ProductTypeDao">

    <sql id="productTypeColumn">
        id,
        name,
        status
    </sql>
    <select id="findAll" resultType="ProductType">
        select <include refid="productTypeColumn"/>
        from t_product_type
    </select>
    <select id="findProductTypeById" parameterType="int" resultType="ProductType">
        select <include refid="productTypeColumn"/>
        from t_product_type
        where id=#{id}
    </select>
    <insert id="add" parameterType="string" >
        insert into t_product_type (name, status) values (#{name},1);
    </insert>
    <select id="findProductTypeByName" parameterType="string" resultType="ProductType">
        select <include refid="productTypeColumn"/>
        from t_product_type
        where name=#{name }
    </select>
    <update id="modifyName">
        update t_product_type
        set name=#{name}
        where id=#{id}
    </update>
    <delete id="deleteProductType" >
        delete from t_product_type where id=#{id}
    </delete>
    <update id="modifyStatus">
        update t_product_type
        set status=#{status}
        where id=#{id}
    </update>
</mapper>